.contact {
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
}

.form {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
}

#contact-button {
    background-color: rgb(0, 0, 0);
    color: #F5F5EF;
}

#contact-button:hover {
    font-weight: bold;
    background-color: #F5F5EF;
    color: black;
}

