.portrait {
    max-width: 60%;
    height: auto;
}

.header {
    margin-top: 215px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
  align-items: center;
  justify-content: center;
}

.name {
    float: left;
}

.title {
    font-weight: 500;
    font-size: 30px;
}

.text {
    margin: 0;
    padding: 0;
}

.slide-in-right {
	-webkit-animation: slide-in-right 1.5s both;
	        animation: slide-in-right 1.5s both;
}

 @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  

.slide-in-left {
    -webkit-animation: slide-in-left 1.5s both;
            animation: slide-in-left 1.5s both;
}

 @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
@media only screen and (max-width: 480px) {
  .header {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
  .img-col {
    padding: 0px !important;
  }
}