.portrait {
    max-width: 60%;
    height: auto;
}

.header {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    float: left;
}

.title {
    font-weight: bold;
    font-size: 30px;
}

