#about-me-link:hover, #projects-link:hover, #contact-link:hover, #resume-link:hover{
    /* color: #D17979; */
    font-weight: bold;
    color: black
}

#name {
    display: inline-block;
    margin-left: 20px;
    font-size: 30px;
}

#navbar {
    float: right;
    color: black;
}

.first, .second, .third, .fourth {
    color: black;
}