#about-me-link, #projects-link, #contact-link, #resume-link{
    color: black;
    transition: 0.2s all ease-in-out;
}

#about-me-link:hover, #projects-link:hover, #contact-link:hover, #resume-link:hover{
    color: black; 
    transform: scale(1.1);
}

#name {
    display: inline;
    font-size: 30px;
    font-weight: 500;
    margin-left: 25px;
}

#navbar {
    float: right;
    color: black;
    text-align: center;
}

.bg-body-tertiary {
    margin-right: 25px;
}

.first, .second, .third, .fourth {
    color: black;
    margin-left: 10px;
}

#basic-navbar-nav { 
    justify-content: end !important;
}

.mobile {
    border: none;
    outline: none;
}

.navbar-toggler {
    color: transparent !important;
}

.navbar-toggler-icon {
    color: red !important;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 2)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
}
